*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #406882;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

button {
  border: none;
  background-color: #1a374d;
  padding: 17px;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

input {
  border: none;
  background-color: white;
  color: black;
  padding: 15px;
  font-size: 20px;
  margin-top: 10px;
}

#pertanyaan {
  font-size: 24px;
  font-weight: 600;
}

footer {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
